<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link type="text/css" href="{{ url_for('static', filename = 'css/main.css', _external = True) }}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <table>
            <tr class="todo-row">
                <td class="todo-column">
                    Title
                </td>
                <td class="todo-column">
                    Content
                </td>
            </tr>
        {% allTodos.forEach( todo =>{%}
            <tr class="todo-row">
                <td class="todo-column">
                    <%= todo.title%>
                </td>
                <td class="todo-column">
                    <%= todo.content%>
                </td>
            </tr>
        <%});%>
        </table>
    </div>
</body>
</html>
